address {
  font-style: normal;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  place-items: center start;
  width: 100%;
  padding: 92px 50px;
  background-color: #fff;
}

.header_link-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 400px;
  height: 22px;
  font-weight: 400;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  line-height: 21.13px;
  white-space: nowrap;
  color: #000000;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.header__links-list-item_no-underline {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.logo-image {
  width: 148;
  height: 105;
}

.contact-information {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  font-weight: 400;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  color: #000000;
  width: 100%;
}

.overlay__cover {
  position: absolute;
  z-index: 0;
  opacity: 0.6;
  background-color: #000000;
  width: 100%;
  height: 100%;
  margin-left: -50px;
  margin-top: -15px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 15px 50px 0px 50px;
  min-height: 757px;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.cover_content {
  position: relative;
  margin-top: 200px;
  z-index: 1;
}

.align-text {
  display: block;
  margin-left: 30px;
  position: relative;
  bottom: 55px;
  left: -30px;
}

.align-text_center {
  text-align: center;
  line-height: 1;
  margin-left: -10px;
  margin-top: 20px;
  position: relative;
  bottom: 50px;
  left: 10px;
}

.align-text_right {
  text-align: right;
  line-height: 1;
  letter-spacing: 60px;
  margin-right: 10px;
  margin-top: 20px;
  position: relative;
  bottom: 40px;
  left: 45px;
}

.cover_title {
  letter-spacing: 30px;
  font-size: 100px;
  color: #fff;
  z-index: 1;
}

.letter-spacing {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.cover_describe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin-top: 200px;
  color: #fff;
  z-index: 1;
}

.cover_describe-text {
  word-spacing: 19px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  margin-top: -135px;
}

.cover_describe-button {
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 256px;
  height: 51px;
  margin-top: -135px;
}

.lots {
  width: 1052px;
  height: 692px;
}

.overlay__lots {
  position: absolute;
  z-index: 0;
  opacity: 0.6;
  background-color: #000000;
  width: 334px;
  height: 563px;
}

.lots__heading {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  margin-top: 179px;
  margin-left: 64px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 334px;
  height: 563px;
  top: 74px;
  gap: 25px;
  opacity: 0px;
  list-style: none;
  margin: 27px 24px 30px 24px;
}

.lots__card-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: 168%;
  background-position-x: -118px;
  width: 334px;
  height: 563px;
  top: 74px;
  gap: 0px;
  opacity: 0px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: 161%;
  background-position: -108px;
  width: 334px;
  height: 563px;
  top: 74px;
  left: 359px;
  gap: 0px;
  opacity: 0px;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: 161%;
  background-position-x: -107px;
  width: 334px;
  height: 563px;
  top: 74px;
  left: 718px;
  gap: 0px;
  opacity: 0px;
}

.card__title {
  position: relative;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  padding: 35px;
  text-decoration: underline;
  color: #fff;
  padding-top: 51px;
}

.card__text {
  position: relative;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin: 0 40px;
  z-index: 1;
}

.card__text-film {
  margin-top: 207px;
}

.card__text-book {
  margin-top: -35px;
}

.card__text-picture {
  margin-top: 62px;
}

.lots__look-more-link {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  margin-top: 30px;
  margin-left: 64px;
}

.about {
  width: 1052px;
  height: 595px;
  top: 2067px;
}

.about__column {
  position: relative;
  top: 146px;
  right: 24px;
  left: 24px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 140px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 35px;
  left: 47px;
}

.about__logo-image {
  position: relative;
  top: 70px;
}

.about__title {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  position: relative;
  left: 359px;
  bottom: 110px;
}

.about__text {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  position: relative;
  left: 359px;
  width: 688px;
  height: 120px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  gap: 185px;
  height: 98px;
  position: relative;
  top: 250px;
  left: 70px;
}

.footer__menu {
  width: 149px;
  height: 64px;
}

.contact-information-footer {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  color: #000000;
  width: 210px;
  text-align: left;
  line-height: 130%;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  list-style: none;
}

.footer__menu-list-item {
  top: 2843px;
  left: 517px;
  gap: 0px;
  opacity: 0px;
}

.footer__menu-link_active {
  display: block;
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
}

.footer__menu-link {
  position: relative;
  display: block;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  white-space: nowrap;
  text-align: center;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.contact-information_number-footer {
  white-space: nowrap;
}

.contact-information_email-footer {
  white-space: nowrap;
}

.address-footer {
  padding: auto;
}
